/* *{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
} */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

.freshMenu {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 3.5rem;
    border-radius: 2px;
    display: flex;
}

img {
    margin-left: 10rem;
    background-size: cover;
}

#logoName {
    margin-left: 0.9rem;
    color: black;
    /* display:flex; */
    justify-content: center;
    align-items: center;
}

.address {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

.addOpt {
    color: grey;
    margin-left: 2rem;
    margin-top: 1.2rem;
    font-weight: 800;
}

.addDetail {
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: red;
    margin-left: 0.2rem;
    margin-top: 1.3rem;
    font-weight: 400;
}

.addLocation {
    height: 2rem;
    width: 4.7rem;
    margin-left: 5px;
    margin-top: .8rem;
    border-radius: 12px;
    border-radius: transparent;
}

.downloadOption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 45rem;
    margin-top: 1.3rem;
    font-weight: 500;
    text-decoration-color: black;
    /* color:black; */
}

.secDiv {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 5rem;
    border-radius: 2px;
    /* display:inline; */
    z-index: auto;
}

.searchNav {
    margin-left: 60rem;
    background-size: cover;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: lighter;
    text-decoration: none;
    display: inline-block;
}

.navCart i {
    display: inline-block;
    font-size: 30px;
    font-weight: lighter;
}

.secDiv a {
    color: black;
    text-decoration: none;
}

transitionNav:hover {
    border: 2px solid whitesmoke;
    background: gray;
}

.secDiv {
    justify-content: space-around;
}

/* hero content  */
.heroContent {
    height: 35.2rem;
    width: 100%;
    padding: 20px;
}

.heroImage {
    background-image: url("Assets/heroImage11.png");
    background-size: cover;
    background-repeat: none;
    height: 35rem;
    width: 100%;
}

#categoryOption {
    margin-left: 100px;
    margin-top: 50px;
    display: inline-block;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.option1 {
    justify-content: right;
    margin-left: 50rem;
    /* justify-content:space-between; */
    text-decoration: none;
    color: black;
    font-size: x-larger;
    border: 0.5px solid rgb(0, 0, 0);
    color: #2ebd59;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 3px;
}

.option2 {
    justify-content: right;
    margin-left: 1rem;
    /* justify-content:space-between; */
    text-decoration: none;
    color: black;
    font-size: x-larger;
    border: 0.5px solid rgb(0, 0, 0);
    color: #2ebd59;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 3px;
}

.option2 i {
    margin-left: 10px;
}

.option3 {
    justify-content: right;
    margin-left: 1rem;
    /* justify-content:space-between; */
    text-decoration: none;
    color: black;
    font-size: x-larger;
    border: 0.5px solid rgb(0, 0, 0);
    color: #2ebd59;
    padding-left: .7rem;
    padding-right: .7rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: 3px;
    display: inline-block;
}

.option3 i {
    margin-right: 10px;
}

.menuContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    flex-grow: 1;
    padding-bottom: 150px;
}

.menuContainer .categories ul li {
    padding: 10px 10px 0;
    margin-left: 10rem;
    font-family: initial;
    font-weight: 500;
    font-size: large;
    width: 230px;
    text-decoration: none;
}

.categories {
    flex: 1;
    position: sticky;
    top: 10px;
    /* align-self:flex-start;  */
    min-width: auto;
}

.categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.categories li {
    list-style: none;
    color: rgb(92, 88, 88);
    padding: 10px;
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.categories a {
    text-decoration: none;
    color: black;
}

.categories ul li:hover {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: rgb(255, 0, 0);
}

#P {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

h4 {
    font-weight: bolder;
    font-size: large;
}

h5 {
    font-weight: lighter;
    display: inline;
    font-size: medium;
}

h6 {
    font-weight: bold;
    font-size: medium;
}

.box {
    margin-right: 10px;
    height: 240px;
    width: 295px;
    border: 2px solid rgb(207, 43, 43);
    border-radius: 1rem;

}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    margin-left: 4rem;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

span a {
    color: white;
    margin: 10px;
}

span:hover {
    transform: scale(0.4);
}

.menuList {
    flex: auto;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.menuImage {
    margin-bottom: 3px;
    padding: 0px 0px 157.200px;
    background-repeat: none;
    background-size: cover;
    border-radius: 0.9rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: transform 0.3s ease-out;
}

.menuImage:hover {
    transform: scale(1.1);
}

/* footer part */


.footer {
    width: 100%;
    padding: 20px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
}

.bottomPart {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
    border-top: 1px solid #ddd;
}

.bottomPart ul li {
    margin: 10px;
    list-style: none;
}

.bottomPart ul a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(98, 97, 119);
    transition: color 0.3s ease;
}

.companyDiv,
.contactDiv,
.orderDiv {
    flex: 1;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#subGreet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    transition: .5s;
}

button:hover {
    color: white;
    background-color: rgb(255, 68, 0);
    transition: 0.22s;
    transform: 0.6s ease-in;
    margin: 0px;
    border-radius: 2px;
    border: 2px solid rgb(255, 68, 0);
}

#termsCondition {
    display: inline;
    margin-left: 5rem;
    text-decoration-color: none;
    color: black;
    display: flex;
}

.lastFooter {
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
}

.lastOption ul li {
    margin-left: 10px;
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}

.lastOption ul a {
    text-decoration: none;
    color: rgb(98, 97, 119);
}

.copyright {
    justify-content: space-between;
    text-align: center;
    margin-top: 3rem;
}